## Projeto

O projeto desde módulo será uma aplicação prática do conteúdo de visualização de dados no python.  
  
**Objetivo**  
Realizar um EDA (Exploratory Data Analysis) implementando gráficos para tornar o resultado visual. Lembre-se de explorar as bibliotecas estudadas neste módulo (Pandas, Matplotlib, Plotly, Seaborn)  
  
**Base de Dados**  
Cada grupo será responsável por buscar uma base de dados de seu interesse  
  
**Composição das duplas**  
As duplas estão descritas segundo o excel "Equipes" presente no google drive, na pasta "projeto"  
  
**Github**  
Na mesma planilha das duplas insiram o link para o github  
  
**Apresentação**  
A apresentação poderá ser construída no formato de preferência (jupyter notebook, power point..)  
  
**Tempo de apresentação**  
Cada grupo terá no máximo 10 minutos para apresentar o EDA  
  
**Avaliação**  
Para a avaliação serão considerados os seguintes pontos
1. Entendimento do contexto em que se encaixa a base de dados
2. Uso de todas bibliotecas apresentadas neste módulo para criação de gráficos (ao menos um gráfico de cada biblioteca)
3. Apresentação das características do conjunto de dados fornecido, destacando sua visão geral acerca do conjunto de dados e tecendo críticas e comentários
4. Uso dos diferentes tipos de gráficos com as variáveis numéricas e categóricas 
5. Identificação e discussão de missings ou outliers na base de dados
6. Outras análises que sejam pertinentes 
  
**Data de apresentação**  
08/06/2022  
  
**Obs. 1**: Não esqueçam de considerar se as informações são públicas  
**Obs. 2**: Não esqueçam de se divertirem fazendo isso! :D  
  
**BOM TRABALHO!**

<span style="color:blue;font-weight:700;font-size:36px">
Análise Exploratória de Dados - Covid 19
</span>


___


<span style="color:green;font-weight:450;font-size:22px">
Baseado nas fontes de dados disponibilizadas pelo COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University
<br></span>



https://github.com/CSSEGISandData/COVID-19

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px
import IPython
from IPython.core.display import display

print(">>>>>> Bibliotecas importadas com sucesso <<<<<<<<")

>>>>>> Bibliotecas importadas com sucesso <<<<<<<<

<span style="color:green;font-weight:450;font-size:22px">
Importando as bases de dados
</span>

In [18]:
deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")

confirmed = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
print(">>>>>> Bases de dados importadas com sucesso <<<<<<<<")

>>>>>> Bases de dados importadas com sucesso <<<<<<<<

<span style="color:green;font-weight:450;font-size:22px">
Analisando informações sobre as bases
</span>

In [19]:
print("### Deaths cases dataframe ###")
display(deaths.head())
print("### Confirmed cases dataframe ###")
display(confirmed.head())

### Deaths cases dataframe ###

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/27/22,5/28/22,5/29/22,5/30/22,5/31/22,6/1/22,6/2/22,6/3/22,6/4/22,6/5/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7699,7701,7701,7701,7705,7707,7708,7708,7708,7708
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3497,3497,3497,3497,3497,3497,3497,3497,3497,3497
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6875,6875,6875,6875,6875,6875,6875,6875,6875,6875
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900

### Confirmed cases dataframe ###

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/27/22,5/28/22,5/29/22,5/30/22,5/31/22,6/1/22,6/2/22,6/3/22,6/4/22,6/5/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,180086,180122,180174,180259,180347,180419,180520,180584,180615,180615
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,276048,276081,276101,276101,276101,276221,276221,276310,276342,276401
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,265870,265873,265873,265877,265884,265887,265889,265889,265889,265897
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,42894,42894,42894,42894,42894,42894,42894,43067,43067,43067
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,99527,99527,99527,99761,99761,99761,99761,99761,99761,99761

In [20]:
print("### Deaths cases dataframe ###")
display(deaths.describe())
print("### Confirmed cases dataframe ###")
display(confirmed.describe())

### Deaths cases dataframe ###

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/27/22,5/28/22,5/29/22,5/30/22,5/31/22,6/1/22,6/2/22,6/3/22,6/4/22,6/5/22
count,283.000000,283.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,...,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02
mean,20.177865,22.331691,0.059649,0.063158,0.091228,0.147368,0.196491,0.287719,0.459649,0.466667,...,2.206492e+04,2.206740e+04,2.206915e+04,2.207353e+04,2.207906e+04,2.208648e+04,2.209204e+04,2.209739e+04,2.209955e+04,2.210410e+04
std,25.823619,76.018064,1.006993,1.008526,1.423678,2.370454,3.081634,4.502897,7.404506,7.405017,...,8.717483e+04,8.717992e+04,8.718229e+04,8.719021e+04,8.721334e+04,8.724638e+04,8.726501e+04,8.728504e+04,8.729325e+04,8.729530e+04
min,-71.949900,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.715658,-21.031300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,5.700000e+01,6.200000e+01
50%,21.694000,20.939400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.630000e+02,8.630000e+02,8.630000e+02,8.630000e+02,8.640000e+02,8.640000e+02,8.640000e+02,8.640000e+02,8.640000e+02,8.640000e+02
75%,40.788284,86.666250,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.244000e+03,8.247000e+03,8.249000e+03,8.254000e+03,8.255000e+03,8.258000e+03,8.262000e+03,8.267000e+03,8.269000e+03,8.275000e+03
max,71.706900,178.065000,17.000000,17.000000,24.000000,40.000000,52.000000,76.000000,125.000000,125.000000,...,1.006652e+06,1.006685e+06,1.006650e+06,1.006677e+06,1.007061e+06,1.007714e+06,1.008031e+06,1.008422e+06,1.008567e+06,1.008585e+06

### Confirmed cases dataframe ###

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/27/22,5/28/22,5/29/22,5/30/22,5/31/22,6/1/22,6/2/22,6/3/22,6/4/22,6/5/22
count,283.000000,283.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,...,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02,2.850000e+02
mean,20.177865,22.331691,1.954386,2.305263,3.312281,5.042105,7.438596,10.277193,19.578947,21.645614,...,1.853097e+06,1.854096e+06,1.855017e+06,1.856432e+06,1.858621e+06,1.861044e+06,1.862872e+06,1.864763e+06,1.865632e+06,1.866523e+06
std,25.823619,76.018064,26.356334,26.453150,32.934485,45.839489,64.063684,86.317566,211.793095,213.098397,...,6.796026e+06,6.797753e+06,6.798419e+06,6.802783e+06,6.812364e+06,6.824552e+06,6.831631e+06,6.840282e+06,6.842178e+06,6.843624e+06
min,-71.949900,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.715658,-21.031300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.156600e+04,1.163600e+04,1.163600e+04,1.164400e+04,1.164400e+04,1.174200e+04,1.174200e+04,1.176900e+04,1.176900e+04,1.176900e+04
50%,21.694000,20.939400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.803600e+04,8.803600e+04,8.803600e+04,8.837400e+04,8.837400e+04,8.837400e+04,8.918900e+04,8.918900e+04,8.918900e+04,8.918900e+04
75%,40.788284,86.666250,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.066390e+05,9.070690e+05,9.074410e+05,9.078240e+05,9.082050e+05,9.086470e+05,9.092220e+05,9.098150e+05,9.099190e+05,9.101340e+05
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,8.398456e+07,8.399705e+07,8.399113e+07,8.405084e+07,8.421777e+07,8.445190e+07,8.457032e+07,8.472433e+07,8.474888e+07,8.476202e+07